<div class="py-2.5 px-4 border-b border-neutral-2-100">
    <div class="flex justify-between items-center">
      <div class="flex flex-col">
        <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
          <tds-breadcrumb>
            <tds-breadcrumb-item><a [routerLink]="['/admin/product']">Đơn hàng</a></tds-breadcrumb-item>
            <tds-breadcrumb-item>Danh sách đơn hàng</tds-breadcrumb-item>
          </tds-breadcrumb>
          </div>
          <span class="text-header-1 text-neutral-1-900 font-semibold">Danh sách đơn hàng</span>
      </div>     
      <button tds-button color="primary">
          <span class="flex items-center">
          <i class="tdsi-export-file-fill text-lg leading-none mr-2"></i>Xuất file đơn hàng
          </span>
      </button>
  </div>
</div>
  
<div class="flex items-start  justify-center h-full w-full bg-neutral-1-50 p-4 overflow-hidden">
  <!-- list order -->
      <div class="bg-white border border-neutral-2-200 h-full  rounded-md p-4 overflow-auto  tds-custom-scroll flex flex-col" >
          <div class="flex justify-between items-center">
            <tds-filter-status [ngModel]='1' (selectChange)="onSelectChange($event)">

              <tds-filter-status-item name='Tất cả' [value]='1' [count]='10'>      
              </tds-filter-status-item>
          
              <tds-filter-status-item name='Chờ xác nhận' [value]='2' [count]='20'>       
              </tds-filter-status-item>
              
              <tds-filter-status-item name='Chờ lấy hàng' [value]='3' [count]='20'>       
              </tds-filter-status-item>   
              
              
              <tds-filter-status-item name='Đang giao' [value]='4' [count]='20'>       
              </tds-filter-status-item>
              
              <tds-filter-status-item name='Đã giao' [value]='5' [count]='20' [disabled]="true">       
              </tds-filter-status-item>   
              <tds-filter-status-item name='Đã hủy' [value]='6' [count]='10'>      
              </tds-filter-status-item>
              
          </tds-filter-status>
              <tds-form-field >
                    
                  <input
                    tdsInput
                    autocomplete="off"
                    placeholder="Search"             
                    [required]="true"/>
                  <span tdsSuffix><i class="tdsi-search-fill"></i></span>
                  
                </tds-form-field>
          </div>
          <tds-table #table [listData]="listOfData" tableLayout="fixed" [pageSize]="10" class="h-full">
              <thead>
                  <tr>
                      <th width="60px"></th>
                      <th>Mã đơn hàng</th>
                      <th>Khách hàng</th>
                      <th>Tổng tiền</th>
                      <th>Trạng thái đơn hàng</th>
                      <th>Trạng thái thanh toán</th>
                      <th>Nhà vận chuyển</th>
                      <th>Ngày đặt hàng</th>
                      <th>Thao tác</th>
                     
                  </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let data of table.data">
                      <tr>
                          <td [expand]="expandSet.has(data.id)" (expandChange)="onExpandChange(data.id, $event)"></td>
                          <td><a tds-link class="text-primary-1 text-body-2 font-regular "  [routerLink]="['/admin/order/order-detail']">{{ data.IdOrder }}</a></td>
                          <td><div class="flex flex-col">
                            <div class="text-body-2 font-regular text-neutral-1-900">
                              {{ data.Customer }}
                            </div>
                            <div class="flex items-center gap-1 text-neutral-1-400 text-body-2 font-regular"><i class="tdsi-call-fill text-neutral-1-500"></i> {{ data.Phone }} </div>
                          </div></td>
                          <td><div class="flex gap-1 items-center">
                            <u  class="text-neutral-1-400 font-regular">đ</u>
                            <div class="text-body-2 font-regular text-neutral-1-900">{{ data.Total }}</div>
                          </div></td>
                          <td  [ngSwitch]="data.StatusOrder">
                            <tds-tag *ngSwitchCase="'Đã giao hàng'" status='success' type="outline" class="text-body-2 font-regular text-neutral-1-900">{{ data.StatusOrder }}</tds-tag>
                            <tds-tag *ngSwitchCase="'Đã hủy'" status='error' type="outline" class="text-body-2 font-regular text-neutral-1-900">{{ data.StatusOrder }}</tds-tag>
                            <tds-tag *ngSwitchCase="'Chờ lấy hàng'" status='warning' type="outline" class="text-body-2 font-regular text-neutral-1-900">{{ data.StatusOrder }}</tds-tag>
                            <tds-tag *ngSwitchCase="'Chờ xác nhận'" status='secondary' type="outline" class="text-body-2 font-regular text-neutral-1-900">{{ data.StatusOrder }}</tds-tag>
                            <tds-tag *ngSwitchCase="'Đang giao hàng'" status='info' type="outline" class="text-body-2 font-regular text-neutral-1-900">{{ data.StatusOrder }}</tds-tag>
                           
                          </td>
                          <td  [ngSwitch]="data.StatusCount">
                            <div *ngSwitchCase="'Đã thanh toán'" class="flex gap-1 items-center text-body-2 font-regular text-neutral-1-900">
                             <tds-badge  color="#87d068" class=" mr-1"></tds-badge>
                             {{ data.StatusCount }}
                            </div>
                            <div  *ngSwitchCase="'Chưa thanh toán'" class="flex gap-1 items-center text-body-2 font-regular text-neutral-1-900">
                             <tds-badge color="#f50" class=" mr-1"></tds-badge>
                             {{ data.StatusCount }}
                            </div>
                          </td>                 
                          <td><div class="text-body-2 font-regular text-neutral-1-900">{{ data.Trading }}</div></td>
                          <td><div class="text-body-2 font-regular text-neutral-1-900">{{ data.Date }}</div></td>
                          <td [ngSwitch]="data.StatusOrder">
                            <div *ngSwitchCase="'Đã giao hàng'" class="text-body-2 font-medium text-info-500">
                              In hóa đơn
                            </div>
                            <div *ngSwitchCase="'Chờ xác nhận'" class="text-body-2 font-medium text-info-500">
                             Xác nhận |   Hủy hóa đơn
                            </div>
                            <div *ngSwitchCase="'Chờ lấy hàng'" class="text-body-2 font-medium text-info-500">
                             Chuẩn bị hàng
                            </div>
                          </td>
                      </tr>
                      <tr [expand]="expandSet.has(data.id)"  class="border  -b border-neutral-2-100 text-neutral-1-900  " >
                         
                        <tds-table #borderedTable  [listData]="productData" [footer]='footer' [title]="title"  bordered  [showPagination]="false" >
                            <thead>
                                <tr>
                                  <th width="76px">Ảnh</th>
                                  <th width="160px">Mã đơn hàng</th>
                                  <th width="600px">Tên sản phẩm</th>
                                  <th width="160px">Mã code</th>
                                  <th width="142px">Đơn giá</th>
                                  <th width="130px">Số lượng</th>
                                  <th width="154px">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of borderedTable.data">
                                  
                                  <td><img src="../../../../assets/Rectangle 1671.png" alt=""></td>
                                  <td class="text-body-2 font-regular text-neutral-1-900">{{ data.IdOrder }}</td>
                                  <td class="text-body-2 font-regular text-neutral-1-900">{{ data.NameProduct }}</td>
                                  <td class="text-body-2 font-regular text-neutral-1-900">{{ data.IdProduct }}</td>
                                  <td><div class="flex gap-1 items-center">
                                    <u  class="text-neutral-1-400 font-regular">đ</u>
                                    <div class="text-body-2 font-regular text-neutral-1-900">{{ data.Price }}</div>
                                  </div></td>
                                  <td>{{ data.SL }}</td>
                                  <td><div class="flex gap-1 items-center">
                                    <u class="text-neutral-1-400 font-regular">đ</u>
                                    <div class="text-body-2 font-regular text-neutral-1-900">{{ data.total }}</div>
                                  </div></td>
                                </tr>
                            </tbody>
                        </tds-table>
                        <ng-template #footer  [ngOutletContext]="context">
                          <div class="flex justify-end pr-16 py-4">
                            <div class="flex flex-col gap-4">
                              <div class="flex justify-between">
                                <div class="mr-20 text-body-2 font-regular text-neutral-1-900">2 sản phẩm </div>
                                <div class="flex gap-1 text-body-2 font-medium text-neutral-1-900"> <u  class="text-neutral-1-400 font-regular">đ</u>
                                  2.400.000</div>
                              </div>
                              <div class="flex justify-between">
                                <div class="text-body-2 font-regular text-neutral-1-900">Phí giao hàng</div>
                                <div class="flex gap-1  text-body-2 font-medium text-neutral-1-900"> <u  class="text-neutral-1-400 font-regular">đ</u> 2.400.000</div>
                              </div>
                              <div class="flex justify-between">
                                <div class="text-title-1 font-medium text-neutral-1-900">Tổng tiền </div>
                                <div class="flex gap-1 text-header-1 text-primary-1 font-semibold"> <u  >đ</u> 2.700.000</div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                        <ng-template #title  [ngOutletContext]="context" >
                          <div class="flex justify-between ">
                            <div class="text-header-1 text-neutral-1-900 font-semibold">Thông tin đơn hàng</div>
                            <button tds-button color="primary" class="text-body-2 font-medium">In hóa đơn</button>
                          </div>
                        </ng-template>
                   
                      </tr> 
                  </ng-container>
              </tbody>
          </tds-table>
      </div>
  
</div>  