<!-- header -->
<div class="p-8 flex flex-col items-start absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 ">
  <div class="text-heading-2 r font-semibold text-neutral-1-900">
    Chọn của hàng của bạn
  </div>
  <div class="text-neutral-1-700 font-medium text-title-1 mt-2 mb-8">
    Có vẻ như tài khoản này được dùng cho nhiều cửa hàng. Hãy chọn cửa hàng bạn
    muốn truy cập
  </div>
  <!-- body -->
  <div class="rounded-xl shadow-2xl bg-white w-full">
    <div class="flex justify-between p-4 border-b border-neutral-2-300" [routerLink]="['/nhan-tin/chat']">
      <div class="flex justify-center items-center">
        <img src="../../../../assets/Avatar.png" alt="" />
        <div class="flex flex-col ml-3 justify-between">
          <div class="text-title-1 font-medium text-neutral-1-900">
            Shop giày thật giá thật
          </div>
          <div class="font-regular text-caption-2">
            <span class="text-primary-1">0922000234 </span>
            <span class="text-neutral-1-300">- Truy cập lần cuối:</span>
            <span class="text-primary-1"> 12 ngày</span>
          </div>
        </div>
      </div>
      <button class="mr-2 p-2 flex items-center">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.6666 8.00315L6.162 12.667L5.33325 11.8084L9.00908 8.00315L5.33325 4.19364L6.162 3.33366L10.6666 8.00315Z"
            fill="#7D8DA4" />
        </svg>
      </button>
    </div>
    <div class="flex justify-between p-4 border-b border-neutral-2-300" [routerLink]="['/nhan-tin/chat']">
      <div class="flex justify-center items-center">
        <img src="../../../../assets/Avatar.png" alt="" />
        <div class="flex flex-col ml-3">
          <div class="text-title-1 font-medium text-neutral-1-900">
            Tiệm bánh baken giá rẻ
          </div>
          <div class="font-regular text-caption-2">
            <span class="text-primary-1">0922000234 </span>
            <span class="text-neutral-1-300">- Truy cập lần cuối:</span>
            <span class="text-primary-1"> 10 ngày</span>
          </div>
        </div>
      </div>
      <button class="mr-2 p-2 flex items-center">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.6666 8.00315L6.162 12.667L5.33325 11.8084L9.00908 8.00315L5.33325 4.19364L6.162 3.33366L10.6666 8.00315Z"
            fill="#7D8DA4" />
        </svg>
      </button>
    </div>
    <div class="flex justify-between p-4 border-b border-neutral-2-300" [routerLink]="['/nhan-tin/chat']">
      <div class="flex justify-center items-center">
        <img src="../../../../assets/Avatar.png" alt="" />
        <div class="flex flex-col ml-3">
          <div class="text-title-1 font-medium text-neutral-1-900">
            Shop giày thật giá thật
          </div>
          <div class="font-regular text-caption-2">
            <span class="text-primary-1">0922000234 </span>
            <span class="text-neutral-1-300">- Truy cập lần cuối:</span>
            <span class="text-primary-1"> 12 ngày</span>
          </div>
        </div>
      </div>
      <button class="mr-2 p-2 flex items-center">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.6666 8.00315L6.162 12.667L5.33325 11.8084L9.00908 8.00315L5.33325 4.19364L6.162 3.33366L10.6666 8.00315Z"
            fill="#7D8DA4" />
        </svg>
      </button>
    </div>
    <div class="flex justify-between p-4 border-b border-neutral-2-300" [routerLink]="['/nhan-tin/chat']">
      <div class="flex justify-center items-center">
        <img src="../../../../assets/Avatar.png" alt="" />
        <div class="flex flex-col ml-3">
          <div class="text-title-1 font-medium text-neutral-1-900">
            Shop giày thật giá thật
          </div>
          <div class="font-regular text-caption-2">
            <span class="text-primary-1">0922000234 </span>
            <span class="text-neutral-1-300">- Truy cập lần cuối:</span>
            <span class="text-primary-1"> 12 ngày</span>
          </div>
        </div>
      </div>
      <button class="mr-2 p-2 flex items-center" [routerLink]="['/nhan-tin/chat']">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.6666 8.00315L6.162 12.667L5.33325 11.8084L9.00908 8.00315L5.33325 4.19364L6.162 3.33366L10.6666 8.00315Z"
            fill="#7D8DA4" />
        </svg>
      </button>
    </div>
  </div>
  <!-- footer -->
  <button [routerLink]="['/tai-khoan/dang-ki']"
    class="font-medium mt-10 text-white text-body-2 bg-primary-1 rounded-md py-2.5 px-auto flex items-center justify-center gap-x-2 w-full">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9.99999 1.25C8.2694 1.25 6.57768 1.76319 5.13875 2.72465C3.69982 3.68611 2.5783 5.05266 1.91603 6.65152C1.25377 8.25037 1.08048 10.0097 1.4181 11.707C1.75572 13.4044 2.58909 14.9635 3.8128 16.1872C5.0365 17.4109 6.59561 18.2442 8.29295 18.5819C9.99028 18.9195 11.7496 18.7462 13.3484 18.084C14.9473 17.4217 16.3139 16.3002 17.2753 14.8612C18.2368 13.4223 18.75 11.7306 18.75 10C18.75 7.67936 17.8281 5.45377 16.1872 3.81283C14.5462 2.17188 12.3206 1.25 9.99999 1.25ZM14.545 10.7706H10.9381V14.3775H9.6881V10.7706H6.08061V9.52063H9.6881V5.91312H10.9381V9.52063H14.545V10.7706Z"
        fill="white" />
    </svg>
    Đăng kí shop mới
  </button>

</div>