<div class="h-screen w-screen flex flex-col relative">
  <div class="flex justify-between items-center bg-white shadow-lg px-10 py-2">
    <img src="../../../../assets/Group 11139.png" alt="" class="w-37 h-12" />

    <div class="flex">
      <button
        [routerLink]="['/taikhoan/dang-nhap']"
        class="p-1.5 font-medium text-sm text-neutral-1-900"
      >
        Trang chủ Tshop
      </button>
      <button
        [routerLink]="['/tai-khoan/dang-ki-tai-khoan']"
        class="p-1.5 font-medium text-sm text-neutral-1-900"
      >
        Đăng kí
      </button>
      <div
        class="px-3 py-1.5 text-sm bg-primary-1 rounded-md font-medium text-white"
      >
        VN
      </div>
      <div class="px-3 py-1.5 text-sm font-medium text-neutral-1-400">EN</div>
    </div>
  </div>
  <div class="bg-neutral-3-300 h-screen">
    <router-outlet></router-outlet>
  </div>
</div>
